<div class="container">
  <div class="row py-5">
    <div class="col-lg-9 mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow p-5">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="display-10">Materiales permitidos</h1>
        </div>
        <a class="btn bcg-secondary fnt-white fnt-primary-hover" type="button" href="/gestion-materiales">Gestionar
          materiales</a>
        <!--Accordion-->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button bcg-secondary-transparent fnt-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Plasticos
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Cada año se producen más de 15 millones de toneladas de plásticos, como
                por ejemplo son los envases de alimentos, utensilios de cocina, muebles, accesorios para ropa, embalaje
                de productos, ropa, materiales de cama, botellas de agua y zumos, botellas de detergente, tuberías,…
                entre otros que se utilizan en artículos de primera necesidad que forman parte del día de cada persona y
                empresas. Muy poco porcentaje de residuos plásticos son reciclados.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed bcg-secondary-transparent fnt-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Papel y Carton
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Según investigaciones el papel y el cartón es una de las fracciones de
                residuos más numerosa, y puede estar formado por cartón, cajas, periódicos, revistas, servilletas, papel
                higiénico, papel decorativo, papel para productos de embalar, papel para manualidades, entre otros. El
                papel y cartón tiene la ventaja como recurso de reciclarse hasta 7 veces. Reciclar el papel y cartón
                salva millones de árboles de ser talados, además de disminuir la contaminación del agua y del aire.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bcg-secondary-transparent fnt-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Vidrios
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                El vidrio es un material inerte utilizado sobre todo en los productos de
                alimentos, perfumería, vinos, cervezas, de laboratorios, entre otros. Millones de botellas de vidrios
                son recicladas gracias a las características de su material de arena de playa y silicatos pueden ser
                fundidos para crear nuevos productos sin tener que agregar otros compuestos químicos. El vidrio es un
                material que puede reciclarse totalmente y de manera continua.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bcg-secondary-transparent fnt-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Aluminio
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                El aluminio es utilizado para crear envases como las latas de bebidas
                gaseosas, cervezas y alimentos, entre otros. Este recurso es como el vidrio, ya que sus características
                permiten que la mayoría de aluminio utilizado en las latas sean reciclados con éxito.
                Además, el aluminio puede ser reciclado una y varias veces casi en su totalidad, ya que puede ser
                fundido y preparado para la fabricación de nuevos envases.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bcg-secondary-transparent fnt-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Metales
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Por años las civilizaciones han reciclado el metal. Debido a que un
                recurso perfecto para fabricación de espadas, cuchillos y diversos utensilios de cocinas, y que pueden
                recuperarse una y otra vez cada vez que es fundido para la elaboración de nuevos productos.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
