<div class="container">
    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="display-10">Materiales permitidos</h1>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <!-- Accordion -->
        <div id="accordionExample" class="accordion shadow p-5">

        <a class="btn btn-info" type="button" href="/gestion-materiales">Gestionar materiales</a>
          <!-- Accordion item 1 -->
          <div class="card">
            <div id="headingOne" class="card-header fondo-verde shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold">
                <a href="javascript:;" data-parent="#accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Plasticos</a></h6>
            </div>
            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-5">
                <p class="font-weight-light m-0">Cada año se producen más de 15 millones de toneladas de plásticos, como por ejemplo son los envases de alimentos, utensilios de cocina, muebles, accesorios para ropa, embalaje de productos, ropa, materiales de cama, botellas de agua y zumos, botellas de detergente, tuberías,… entre otros que se utilizan en artículos de primera necesidad que forman parte del día de cada persona y empresas. Muy poco porcentaje de residuos plásticos son reciclados.                </p>
              </div>
            </div>
          </div>

           <!-- Accordion item 2 -->
           <div class="card">
            <div id="headingOne" class="card-header fondo-verde shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold"><a href="javascript:;" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Papel y Carton</a></h6>
            </div>
            <div id="collapse2" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-5">
                <p class="font-weight-light m-0"> Según investigaciones el papel y el cartón es una de las fracciones de residuos más numerosa, y puede estar formado por cartón, cajas, periódicos, revistas, servilletas, papel higiénico, papel decorativo, papel para productos de embalar, papel para manualidades, entre otros. El papel y cartón tiene la ventaja como recurso de reciclarse hasta 7 veces. Reciclar el papel y cartón salva millones de árboles de ser talados, además de disminuir la contaminación del agua y del aire.                </p>
              </div>
            </div>
          </div>

           <!-- Accordion item 3 -->
           <div class="card">
            <div id="headingOne" class="card-header fondo-verde shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold"><a href="javascript:;" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Vidrios</a></h6>
            </div>
            <div id="collapse3" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-5">
                <p class="font-weight-light m-0">El vidrio es un material inerte utilizado sobre todo en los productos de alimentos, perfumería, vinos, cervezas, de laboratorios, entre otros. Millones de botellas de vidrios son recicladas gracias a las características de su material de arena de playa y silicatos pueden ser fundidos para crear nuevos productos sin tener que agregar otros compuestos químicos. El vidrio es un material que puede reciclarse totalmente y de manera continua.                </p>
              </div>
            </div>
          </div>

           <!-- Accordion item 4 -->
           <div class="card">
            <div id="headingOne" class="card-header fondo-verde shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold"><a href="javascript:;" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Aluminio</a></h6>
            </div>
            <div id="collapse4" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-5">
                <p class="font-weight-light m-0"> El aluminio es utilizado para crear envases como las latas de bebidas gaseosas, cervezas y alimentos, entre otros. Este recurso es como el vidrio, ya que sus características permiten que la mayoría de aluminio utilizado en las latas sean reciclados con éxito.
                  Además, el aluminio puede ser reciclado una y varias veces casi en su totalidad, ya que puede ser fundido y preparado para la fabricación de nuevos envases.</p>
              </div>
            </div>
          </div>

           <!-- Accordion item 5 -->
           <div class="card">
            <div id="headingOne" class="card-header fondo-verde shadow-sm border-0">
              <h6 class="mb-0 font-weight-bold"><a href="javascript:;" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Metales</a></h6>
            </div>
            <div id="collapse5" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
              <div class="card-body p-5">
                <p class="font-weight-light m-0"> Por años las civilizaciones han reciclado el metal. Debido a que un recurso perfecto para fabricación de espadas, cuchillos y diversos utensilios de cocinas, y que pueden recuperarse una y otra vez cada vez que es fundido para la elaboración de nuevos productos.                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>