<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card-body px-5 py-3 bcg-primary-transparent rounded shadow fadeInDown">
        <h1 class="text-center"> Lista de Solicitudes </h1>
        <div class="table-responsive">
          <table tyle="width:100%" class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">Solicitante</th>
                <th scope="col" class="text-center">Direccion</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Horario</th>
                <th scope="col" class="text-center">Volumen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos">
                <th scope="row" class="text-center">{{pedido.solicitante}}</th>
                <td class="text-center">{{pedido.direccion}}</td>
                <td class="text-center">{{pedido.email}}</td>
                <td class="text-center">{{pedido.horario}}</td>
                <td class="text-center">{{pedido.volumen}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
