<div class="container">
  <h3>Esta a punto de modificar {{currentMaterial.name}}</h3>
  <form [formGroup]="formInstance">
    <div class="mb-3">
      <input id="id_material" class="form-control" type="hidden" aria-label="input example" required name="id_material"
        formControlName="id_material" >
      <mat-error *ngIf="formInstance.controls['id_material']?.errors?.required">campo requerido</mat-error>
    </div>
    <div class="mb-3">
      <input id="name" class="form-control" type="text" placeholder="nombre" aria-label="input example" required
        name="name" formControlName="name">
    </div>
    <div class="mb-3">
      <textarea id="descripcion" class="form-control" type="text" placeholder="descripcion" aria-label="input example"
        name="description" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
      <div class="row">
        <img id="current-material-image" src="" alt="">
      </div>
      <input id="imgMaterial" class="form-control" type="text" name="imgBase64" formControlName="imgBase64">
    </div>
    <!-- <div class="mb-3">
        <input id="weight" class="form-control" type="hidden" value="0" formControlName="weight">
      </div> -->
    <div class="d-block gap-2">
      <button class="btn bcg-success fnt-white fnt-lightgrey-hover col-5" type="button" [disabled]="!formInstance.valid" (click)="updateMaterial()">Confirmar</button>
      <button class="btn bcg-warning fnt-white fnt-lightgrey-hover offset-2 col-5" type="button" (click)="onNoClick()">Cancelar</button>
    </div>
  </form>
</div>
