<section id="pickup-rejected">

  <div class="wrapper fadeInDown">
    <div id="pickupRejectContent" class="p-4">
      <div id="pickup-rejection-header">
        <img id="pickup-rejected-img" class="fadeIn first" src={{imageRejectedPath}} alt="rejectedImage">
        <h3 id="pickup-rejected-title" class="fadeIn second">{{pickupRejectedTitle}}</h3>
      </div>
      <div class="container">
        <div id="acopio-adress" class="row fadeIn third">
          <div class="col-sm-12 col-md-6">
            <img id="acopio-adress-img"src={{imageAcopioPath}} alt="">
          </div>
          <div class="col-sm-12 col-md-6">
            <h4 id="acopio-adress-title">{{acopioAdressTitle}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
