<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="card card-body px-5 pb-5 bcg-primary-transparent shadow rounded fadeInDown">
        <div class="row" id="contatti">
          <div class="container mt-5">
            <div class="row">
              <div class="col-md-6 maps fadeIn first">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4487.914074602896!2d-59.11622381733921!3d-37.30853486150854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd19d85f7232a3b0!2sPunto%20Limpio%2C%20Estaci%C3%B3n%20Norte!5e0!3m2!1ses-419!2sar!4v1626185601559!5m2!1ses-419!2sar"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <div class="col-md-6 fadeIn second">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">CONTACTO</h2>
                <form action="">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="form-control mt-2" placeholder="Nombre" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="form-control mt-2" placeholder="Asunto" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="email" class="form-control mt-2" placeholder="Email" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="number" class="form-control mt-2" placeholder="Telefono" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group py-2">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Contanos mas"
                          rows="3" required></textarea>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                          <label class="form-check-label" for="invalidCheck2">
                            Aceptar condiciones
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      <button class="btn bcg-secondary fnt-white fnt-primary-hover" type="submit">Enviar</button>
                    </div>
                  </div>
                </form>
                <div class="text-white">
                  <h2 class="text-uppercase mt-4 font-weight-bold">donde estamos</h2>
                  <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+39) 123456</a><br>
                  <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+39) 123456</a><br>
                  <i class="fa fa-envelope mt-3"></i> <a href="">recolecoop@test.ar</a><br>
                  <i class="fas fa-globe mt-3"></i> Av. Santamarina 460, Tandil<br>
                  <i class="fas fa-globe mt-3"></i> Darragueira y Jurado, Tandil<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
