<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <div class="wrapper fadeInDown">
        <div id="underConstructionContent" class="p-4">
          <div id="under-construction-header">
            <img src="assets/img/under-construction.png" class="img-thumbnail img-fluid center" id="under-construction-img" alt="imagen_en_construccion">
            <h2 id="under-construction-title">Pagina en construccion</h2>
            <h4 class="under-construction-description"> Estamos terminando esta pagina</h4>
            <h4 class="under-construction-description"> Proximamente podra ver la cartelera virtual de pedidos </h4>         
          </div>
        </div>
      </div>

    </div>
    <div class="col col-md-4">
      <div class="mx-auto container ">  
                <div class="media materiales">
                    <img src="assets/img/reciclaje.png" class="img-thumbnail center" alt="imagen_reciclaje">
    
                    <h5 class="text-center"> ¿Cómo entrego los materiales? </h5>
    
                    <p class="text-center"> Para poder reciclar los envases que consumimos habitualmente, primero debemos separarlos en el contenedor correspondiente según el material del que están hechos. Así, los envases de plástico, latas y briks van al contenedor amarillo y los envases de papel y cartón al azul. 
                     <br> Para saber mas sobre como entregar los materiales ingrese <a href="/entregamateriales" class="links">aqui </a> </p>                
                    <h5 class="text-center"> ¿Que materiales puedo llevar? </h5>
                    
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Plastico 
                            <div class="image-parent">
                                <img src="assets/img/plastico_icon.png" class="img-fluid" alt="quixote">
                            </div>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Papel
                            <div class="image-parent">
                                <img src="assets/img/papel_icon.png" class="img-fluid" alt="lay">
                            </div>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Vidrio 
                            <div class="image-parent">
                                <img src="assets/img/vidrio_icon.png" class="img-fluid" alt="quixote">
                            </div>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">  
                            Metales
                            <div class="image-parent">
                                <img src="assets/img/metales_icon.png" class="img-fluid" alt="things">
                            </div>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">  
                            Carton
                            <div class="image-parent">
                                <img src="assets/img/carton_icon.png" class="img-fluid" alt="things">
                            </div>
                          </li>
                    </ul>
                    <a href="/detallemateriales" class="a_center btn btn-success">Ver mas</a>
                </div>
        </div>
    </div>
  </div>
</div>



