
<div class="mx-auto container">
    <div class="row">
		<div class="well">
            <div class="media col-md-3">

                <img src="assets/img/reciclaje.png" class="img-thumbnail center" alt="imagen_reciclaje">
                <h5 class="text-center"> ¿Que materiales puedo llevar? </h5>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Plastico 
                        <div class="image-parent">
                            <img src="assets/img/plastico_icon.png" class="img-fluid" alt="quixote">
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Papel 
                        <div class="image-parent">
                            <img src="assets/img/papel_icon.png" class="img-fluid" alt="lay">
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Vidrio 
                        <div class="image-parent">
                            <img src="assets/img/vidrio_icon.png" class="img-fluid" alt="quixote">
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Tela
                        <div class="image-parent">
                            <img src="assets/img/tela_icon.png" class="img-fluid" alt="things">
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">  
                        Carton
                        <div class="image-parent">
                            <img src="assets/img/carton_icon.png" class="img-fluid" alt="things">
                        </div>
                      </li>
                </ul>
                <button type="button" class="center btn btn-success">Ver mas</button>

            </div>
        </div>
    </div>
</div>