
<div class="mx-auto container">
    <div class="row">
		<div class="well">
            <div class="media col-md-3">

                <img src="assets/img/reciclaje.png" class="img-thumbnail center" alt="imagen_reciclaje">
                <h5 class="text-center"> ¿Que materiales puedo llevar? </h5>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Plastico</li>
                    <li class="list-group-item">Vidrio</li>
                    <li class="list-group-item">Tela</li>
                    <li class="list-group-item">Goma</li>
                    <li class="list-group-item">Carton</li>
                </ul>

            </div>
        </div>
    </div>
</div>