<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="list-group recolector-list">
        <div class="recolector-list-item" *ngFor="let cartonero of cartoneros">
          <button type="button" class="list-group-item list-group-item-action bcg-secondary fnt-white fnt-primary-hover" aria-current="true"
            (click)="chooseCartonero(cartonero)">
            {{cartonero.name}} {{cartonero.lastname}}
          </button>
        </div>
      </div>
      <div class="col-12 py-3">
        <button type="button" class="btn bcg-secondary fnt-white fnt-primary-hover w-100" (click)="create()">Añadir cartonero</button>
      </div>
    </div>
    <div class="col 8">
      <h3 class="text-center">Ficha de cartonero</h3>
      <div class="row">
        <div class="details-section col-3">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bcg-secondary-transparent fnt-white">Nombre</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">Apellido</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">Direccion</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">Capacidad</li>
            </ul>
          </div>
        </div>
        <div class="card-section col-9">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bcg-secondary-transparent fnt-white">{{selectedCartonero.name}}</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">{{selectedCartonero.lastname}}</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">{{selectedCartonero.address}}</li>
              <li class="list-group-item bcg-secondary-transparent fnt-white">{{selectedCartonero.transportLoad}}</li>
            </ul>
          </div>
        </div>
        <div class="offset-2 col-3 text-center py-3">
          <button type="button" class="btn bcg-success fnt-white fnt-lightgrey-hover w-100" (click)="edit(selectedCartonero)"><i
              class="fas fa-edit"></i></button>
        </div>
        <div class="offset-2 col-3 text-center py-3">
          <button type="button" class="btn bcg-warning fnt-white fnt-lightgrey-hover w-100"
            (click)="delete(selectedCartonero.id!, selectedCartonero.name!)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
