/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 40px;
}

img {
  pointer-events: none;
}

footer {
  background-color: black;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 40px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
