<footer class="mt-4">
    <div class="container-fluid h-100">
        <div class="row bcg-secondary h-100"> 
      
            <div class="col-4 text-center">
              
            </div>
            
            <div class="col-4 text-center d-flex align-items-center justify-content-center">
                <i class="fab fa-facebook media-icon fnt-primary fnt-white-hover"></i>
                <i class="fab fa-twitter media-icon fnt-primary fnt-white-hover" ></i>
                <i class="fab fa-instagram media-icon fnt-primary fnt-white-hover" ></i>
                <i class="fab fa-linkedin media-icon fnt-primary fnt-white-hover" ></i>
            </div>
        
            <div class="col-4 text-center fnt-primary d-flex align-items-center justify-content-end">
                <p class="copyright">RecoleCoop 2021</p>
            </div>
        </div>
        
      </div>

</footer>
