<footer class="mt-4">
    <div class="container-fluid">
        <div class="row bg-dark"> 
      
            <div class="col-4 text-center">
              
            </div>
            
            <div class="col-4 text-center ">
                <i class="fab fa-facebook jorge"></i>
                <i class="fab fa-twitter jorge" ></i>
                <i class="fab fa-instagram jorge" ></i>
                <i class="fab fa-linkedin jorge" ></i>
            </div>
        
            <div class="col-4 text-center text-warning">
                <p>RecoleCoop 2021</p>
            </div>
        </div>
        
      </div>

</footer>
