<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid jorge">
          <a class="navbar-brand text-warning" href="/home">RecoleCoop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-warning" aria-current="page" routerLink="/pedido-form" >Solicitar retiro</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" routerLink="/pedidos-list">Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" routerLink="/en-construccion">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" routerLink="/en-construccion">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" routerLink="/login"> Login</a>
            </li>
          </ul>
        </div>
      </nav>

</header>
