<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid jorge">
          <a class="navbar-brand text-warning" href="#">RecoleCoop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-warning" aria-current="page" routerLink="/pedido-form" >Solicitar retiro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-warning" aria-current="page" href="#">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-warning" aria-current="page" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-warning" aria-current="page" (click)="click()"> Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</header>
