<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="display-10">¿Cómo reciclar correctamente? </h1>
          <img src="assets/img/como_reciclar.jpg" class="img-fluid center" alt="imagen_como_reciclar">
            <p> <br> <br>
                El deterioro del medio ambiente ha propiciado el interés de cambio de conciencia ecológica tanto en las personas como en las empresas, y esto ha llevado a buscar estrategias para revertir el daño ocasionado por los residuos al ambiente.
            </p>
            <p class="negrita">Una de esas estrategias es el reciclaje. </p>
            <p>
                Según datos estadísticos se reciclan el 33,9% de todos los residuos urbanos que se producen en el país. Entre estos están la materia orgánica, los envases comerciales, envases de plásticos, metal, latas metálicas, bricks, papel, cartón, envases de vidrios, textiles, madera, escombros, entre otros.
            </p>
        </div>
    </div>

    <div class="col-lg-9 mx-auto text-center">
        <h3 class="display-10"> Forma de entrega de cada material </h3>
        <br>
        <img src="assets/img/cartel_separa_casa.gif" class="img-fluid center" alt="cartel_separa_en_casa">
    </div>

    <div class="row py-5">
      <div class="col-lg-8 mx-auto">
        <div class="card mb-4">
          <div class="card-body p-5">
            <h4 class="mb-4"> Plasticos </h4>
            <div class="custom-scrollbar-css p-2">
                <p class="font-italic">
                    <p>¿Debo lavar los envases antes de llevarlos?</p>
                    <p>No es necesario lavarlos porque además así gastamos más agua de la que necesitamos. Lo más importante es que el envase no contenga producto en su interior, es decir, es conveniente agotar el producto del todo y una vez bien vacío depositarlo en el contenedor que corresponda. Nosotros nos encargamos de su limpieza.</p>
                    <p>¿Por qué el brik va al contenedor amarillo y no al azul, si es de cartón?</p>
                    <p>Porque el brik, aunque aparentemente es de cartón, en su interior tiene aluminio o plástico, y su proceso de reciclaje es diferente.                </p>
                    <p>¿Qué debo hacer para reciclar un frasco de jarabe de plástico?</p>
                    <p>Los envases que han estado en contacto con medicamentos ya sean frascos, blísters, tubos, aerosoles o ampollas, aunque estén vacíos, deben ser tratados de forma específica. Para ello, deben llevarse al punto SIGRE de las farmacias que disponen de contenedores especiales para depositar los medicamentos usados, caducados o en mal estado. En ningún caso depositaremos termómetros, prótesis, agujas o frascos para toma de muestras de sangre, heces u orina, todos ellos deben ir al contenedor naranja.</p>
            </div>
          </div>
        </div>

        <div class="card mb-4">
            <div class="card-body p-5">
              <h4 class="mb-4"> Papel y Carton </h4>
              <div class="custom-scrollbar-css p-2">
                <p class="font-italic">
                    <p> Y con los envases mixtos que contengan papel y/o cartón y plástico como los sobres o las cajas de los juguetes, ¿qué debo hacer? </p>
                    <p>Los envases mixtos son muy difíciles de reciclar, por lo que ayudaríamos mucho si los separamos: el papel/cartón, al contenedor azul, y el plástico, al amarillo.</p>
              </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body p-5">
              <h4 class="mb-4"> Vidrios </h4>
              <div class="custom-scrollbar-css p-2">
                <p class="font-italic">
                    
                    <p>¿Qué vidrio es reciclable?</p>
                    <p>Para lograr alcanzar un proceso de reciclaje de vidrio lo más óptimo posible, es importante saber, qué y cómo debe depositarse este material en los contenedores verdes, ya que no todo se puede reciclar. Hay objetos cuya composición es distinta al vidrio y puede resultar perjudicial para el proceso de reciclaje de nuevos envases.</p>
                    <p>Lo que <strong>se debe introducir</strong>:</p>
                    <ul>
                    <li>Botellas de vidrio (Sin corcho o tapón).</li>
                    <li>Frascos de vidrio, como los de perfume.</li>
                    <li>Tarros de alimentos (sin tapa)</li>
                    </ul>
                    <p>Lo que <strong>no se debe introducir</strong>:</p>
                    <ul>
                    <li>Cerámica</li>
                    <li>Porcelana</li>
                    <li>Cristal de copas o vasos</li>
                    <li>Bombillas (se deben depositar en un punto limpio)</li>
                    <li>Espejos (se deben depositar en un punto limpio)</li>
                    </ul>

              </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body p-5">
              <h4 class="mb-4"> Aluminio </h4>
              <div class="custom-scrollbar-css p-2">
                <p class="font-italic">Para el reciclaje de las latas de aluminio no afecta que éstas estén en su forma original o se introduzcan aplastadas en los contenedores. De hecho, es normal que, durante todo el proceso, y al estar vacías, vayan sufriendo golpes y abollones que alteren su forma inicial. Lo mismo sucede con las botellas de plástico y demás recipientes que van a este contenedor, aunque haya informaciones y leyendas que digan que estas costumbres de aplastarlas y reducir su tamaño final sea una mala práctica.               </p>
              </div>
            </div>
        </div>
  
        <div class="card mb-4">
            <div class="card-body p-5">
              <h4 class="mb-4"> Metales </h4>
              <div class="custom-scrollbar-css p-2">
                <p class="font-italic">
                    Como entregar cada metal:

                    <ul><li><strong>Acero reciclado:</strong> Latas de conserva, electrodomésticos, coches.</li><li><strong>Aluminio reciclado:</strong> Menaje de cocina, bicicletas, latas de bebidas.</li><li><strong>Bronce reciclado:</strong> Orfebrería, estatuas, elementos de puertas.</li><li><strong>Cobre reciclado:</strong> Cables, tuberías, ollas.</li><li><strong>Hierro reciclado:</strong> Herramientas, verjas.</li><li><strong>Latón reciclado:</strong> Decoración, enchufes, radiadores.</li><li><strong>Plomo reciclado:</strong> Baterías de coche, cubiertas de cable, tuberías.</li></ul>
               
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>