<div class="container">
  <h3>Ingrese la siguiente información</h3>
  <h3>para coordinar el retiro</h3>
  <form>
      <div class="mb-3">
          <input id="solicitante" class="form-control" type="text" placeholder="Nombre">
      </div>
      <div class="mb-3">
          <input id="direccion" class="form-control" type="text" placeholder="Direccion">
      </div>
      <div class="mb-3">
          <input id="telefono" class="form-control" type="text" placeholder="Cod.Área y Numero de celular*">
      </div>
      <div class="mb-3">
        <input id="email" class="form-control" type="text" placeholder="Email">
    </div>
      <div class="mb-3 row">
          <div class="col-4">
            <label for="exampleFormControlSelect1">Horario disponible: *</label>
          </div>
          <div class="col-8">
            <select id="horario" class="form-select" aria-label="Default select example">
              <option selected>9 a 12hs</option>
              <option value="1">12 a 15hs</option>
              <option value="2">15 a 18hs</option>
            </select>
          </div>
      </div>
      <h5>Seleccione el volumen de materiales: *</h5>
      <div class="form-check">
          <input class="form-check-input" type="radio" name="checkboxes" id="checked1" value="Entra en una caja">
          <label class="form-check-label" for="checked1">
            Entra en una caja
          </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="checkboxes" id="checked2" value="En el baul de un auto" checked>
        <label class="form-check-label" for="checked2">
          En el baul de un auto
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="checkboxes" id="checked3" value="Entra en la caja de una camioneta
        ">
        <label class="form-check-label" for="checked3">
          Entra en la caja de una camioneta
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="checkboxes" id="checked4" value="Es necesario un camion">
        <label class="form-check-label" for="checked4">
          Es necesario un camion
        </label>
      </div>
      <h5 class="textfoto">Cargar foto de los materiales a reciclar</h5>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" >
        <div class="row">
          <div class="col-12 pt-2">
            <button type="button" class="btn btn-light w-100 fnt-secondary-hover" (click)="displayimg()">Subir</button>
          </div>
          <div id="eliminar" class="col-6">
            <button type="button" class="btn btn-danger" (click)="displaynoneimg()">Eliminar</button>
          </div>
        </div>
        <img id="img1" src="https://www.semana.com/resizer/hRn_90cCG0E0JVBxAPNgBz6wLUo=/1200x675/filters:format(jpg):quality(70)//cloudfront-us-east-1.images.arcpublishing.com/semana/4SJ5MUDADNB7NC5EAI325NVYPE.jpg" alt="">
      </div>
      <div class="d-grid gap-2">
        <button class="btn bcg-success fnt-white fnt-primary-hover" type="button" (click)="enviarPedido()">Enviar</button>
      </div>
  </form>
</div>